# ==== Clock input ====
NET "clkin66" LOC = U23 | IOSTANDARD = LVCMOS25;
NET "clkin66" TNM_NET = "GRPclkin66";
TIMESPEC "TSclkin66" = PERIOD "GRPclkin66" 15.00 ns;

# ==== UART ====
NET "uart_rx"      LOC = J24  | IOSTANDARD = LVCMOS25 | PULLUP;
NET "uart_tx"      LOC = J25  | IOSTANDARD = LVCMOS25 | SLEW = SLOW;

# ==== LEDs ====
NET "leds(0)" LOC = AC22;
NET "leds(1)" LOC = AC24;
NET "leds(2)" LOC = AE22;
NET "leds(3)" LOC = AE23;
   
NET "leds(*)" IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 2;

# ==== Ethernet ====

# The xc6vlx240tff1156-1 part is chosen for this example design.
# This value should be modified to match your device.
CONFIG PART = xc6vlx240tff1156-1;

# Locate the Tri-Mode Ethernet MAC instance
INST "*v6_emac" LOC = "TEMAC_X0Y0";

# CLOCK CONSTRAINTS
# Ethernet MAC reference clock driven by transceiver
NET "*clk125_o" TNM_NET = "clk_gt_clk";
TIMEGRP "v6_emac_v1_6_gt_clk" = "clk_gt_clk";
TIMESPEC "TS_v6_emac_v1_6_gt_clk" = PERIOD "v6_emac_v1_6_gt_clk" 8 ns HIGH 50 %;

# Tri-speed client clock from Ethernet MAC
NET "*client_clk_o" TNM_NET = "clk_client";
TIMEGRP "v6_emac_v1_6_gt_clk_client" = "clk_client";
TIMESPEC "TS_v6_emac_v1_6_gt_clk_client" = PERIOD "v6_emac_v1_6_gt_clk_client" 8 ns HIGH 50 %;

# SGMII physical interface constraints
INST "phy_mgtclk_n" LOC = H5;
INST "phy_mgtclk_p" LOC = H6;
INST "phy_rx_p"     LOC = B5;
INST "phy_rx_n"     LOC = B6;
INST "phy_tx_p"     LOC = A3;
INST "phy_tx_n"     LOC = A4;

NET "phy_rst_n"    LOC = AH13;

INST "*gtx0_v6_gtxwizard_i?gtxe1_i" LOC = "GTXE1_X0Y19";

# SGMII FABRIC RX ELASTIC BUFFER TIMING CONSTRAINTS
# Constrain the recovered clock frequency to 125 MHz
NET "*v6_gtxwizard_top_inst?RXRECCLK" TNM_NET = "clk_rec_clk";
TIMEGRP "v6_emac_v1_6_client_rec_clk" = "clk_rec_clk";
TIMESPEC "TS_v6_emac_v1_6_client_rec_clk" = PERIOD "v6_emac_v1_6_client_rec_clk" 8 ns HIGH 50 %;

# Control gray code delay and skew
INST "*v6_gtxwizard_top_inst?rx_elastic_buffer_inst?rd_addr_gray_?" TNM = "rx_elastic_rd_to_wr";
TIMESPEC "TS_rx_elastic_rd_to_wr" = FROM "rx_elastic_rd_to_wr" TO "clk_rec_clk" 7.5 ns DATAPATHONLY;
INST "*v6_gtxwizard_top_inst?rx_elastic_buffer_inst?wr_addr_gray_?" TNM = "elastic_metastable";
TIMESPEC "TS_elastic_meta_protect" = FROM "elastic_metastable" 5 ns DATAPATHONLY;

# Distributed RAM read data path should be timed to the read clock period
INST "*v6_gtxwizard_top_inst?rx_elastic_buffer_inst?rd_data*" TNM = "fifo_read";
TIMESPEC "ts_ram_read_false_path" = FROM "RAMS" TO "fifo_read" 8 ns DATAPATHONLY;

# Reduce clock period to allow for metastability settling time
INST "*v6_gtxwizard_top_inst?rx_elastic_buffer_inst?rd_wr_addr_gray*" TNM = "rx_graycode";
INST "*v6_gtxwizard_top_inst?rx_elastic_buffer_inst?rd_occupancy*"    TNM = "rx_binary";
TIMESPEC "TS_rx_buf_meta_protect" = FROM "rx_graycode" TO "rx_binary" 5 ns;

# ==== Overriding v5_emac default configuration ====
INST "*/v6_emac" EMAC_TXINBANDFCS_ENABLE = "TRUE";
INST "*/v6_emac" EMAC_RXINBANDFCS_ENABLE = "TRUE";
INST "*/v6_emac" EMAC_PHYINITAUTONEG_ENABLE = "TRUE";
# Configure the CORE with 00:0A:35:01:8E:B4 as MAC address
INST "*/v6_emac" EMAC_PAUSEADDR = 48'hB48E01350A00;
INST "*/v6_emac" EMAC_UNICASTADDR = 48'hB48E01350A00;
# Enable address filtering
INST "*/v6_emac" EMAC_ADDRFILTER_ENABLE = "TRUE";

# ==== Timing fixes ====
NET "sys_clk" TNM_NET = "GRPsys";
NET "clkin66_b" TNM_NET = "GRPinput";
